ol {
  list-style: none;
  counter-reset: orderedlist;
}
li {
  padding-top: 10px;
}
li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  font-weight: bold;
  font-size: 1em;
  padding: 4px;
  margin-right: 5px;
  text-align: center;
  color: #fff;
  background-color: blue;
  border-radius: 50%;
}
